# import pandas libraries

In [39]:
import pandas as pd

## import the data set into python

In [40]:
data=pd.read_excel('sheet.xlsx')

In [33]:
data2=pd.read_excel('sheets.xlsx',sheet_name='Sheet2')

In [41]:
data2

     Tran. Date  Ref/Chq. No        Debit      Credit      Balance
0    2022-02-10         1001         3.75         NaN   1967229.20
1    2022-02-10         1002          NaN  19000000.0  20967229.20
2    2022-02-10         1003  20000000.00         NaN    967229.20
3    2022-02-10         1004        50.00         NaN    967179.20
4    2022-02-10         1005         3.75         NaN    967175.45
...         ...          ...          ...         ...          ...
3148 2022-11-30         4149        50.00         NaN  22590397.62
3149 2022-11-30         4150         3.75         NaN  22590393.87
3150 2022-11-30         4151  10000000.00         NaN  12590393.87
3151 2022-11-30         4152        50.00         NaN  12590343.87
3152 2022-11-30         4153         3.75         NaN  12590340.12

[3153 rows x 5 columns]

##  sheet reporting using pandas

In [7]:
file='sheets.xlsx'

In [45]:
pd.ExcelFile(file).sheet_names

['Sheet1',
 'Sheet2',
 'Sheet3',
 'Sheet4',
 'Sheet5',
 'Sheet6',
 'Sheet7',
 'Sheet8',
 'Sheet9',
 'Sheet10',
 'Sheet11']

### calling the Excel writer function with pandas
### create a new dataframe with a variable name
###  run a for loop on the  various sheet available in the excel file 
####  read the excel file with a new variable new and use the append function to combine the together

####  send the new data to a data frame and make the index false to prevent a new label number 

#### Save the excel writer

In [42]:
writer_data=pd.ExcelWriter('joindata.xlsx', engine='xlsxwriter')
join=pd.DataFrame()
for sheet in pd.ExcelFile(file).sheet_names:
    df=pd.read_excel('sheets.xlsx',sheet_name=sheet)
    join=join.append(df)
    
join.to_excel(writer_data,sheet_name='alldata',index=False,index_label=False)
writer_data.save()

In [44]:
pd.read_excel('joindata.xlsx')

      Tran. Date Ref/Chq. No        Debit      Credit      Balance
0     2022-01-04        5001          NaN  30000000.0  45439777.46
1     2022-01-04        5002  30000000.00         NaN  15439777.46
2     2022-01-04        5003        50.00         NaN  15439727.46
3     2022-01-04        5004         3.75         NaN  15439723.71
4     2022-01-04        5005          NaN  12000000.0  27439723.71
...          ...         ...          ...         ...          ...
35216 2022-11-30        4149        50.00         NaN  22590397.62
35217 2022-11-30        4150         3.75         NaN  22590393.87
35218 2022-11-30        4151  10000000.00         NaN  12590393.87
35219 2022-11-30        4152        50.00         NaN  12590343.87
35220 2022-11-30        4153         3.75         NaN  12590340.12

[35221 rows x 5 columns]

In [ ]:
com